*:not(input,textarea) 
  touch-callout none
  user-select none

input,textarea 
  touch-callout text !important
  user-select text !important
html 
  font-family "pingFangSC-Medium","Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif
#app 
  height 100%

#page 
  height 100%
.view 
  width 100%
  height calc(100% - 50px)
  overflow-y auto
  background #f1f1f1
  -webkit-overflow-scrolling touch

img 
  max-width 100%
  max-height: 100%

p, h1, h2, h3, h4, h5, h6 
  word-break break-all

.load 
  display none
  width 100px
  height 100px
  position fixed
  z-index 15
  left calc(50% - 50px)
  top calc(50% - 50px)
  color #fff
  padding-top 80px
  font-size 10px
  text-align center
  border-radius 5px
  background rgba(0,0,0,.5) url('../images/load.gif') no-repeat top 15px center/auto 50px
  &.success 
    background-image url('../images/loadsuccess.png')
  &.active 
    display block
  &.text 
    display block
    padding 7px 15px
    background rgba(0,0,0,.65)
    left calc(50% - 110px)
    width 220px
    height auto
    font-size 16px


//下拉刷新自带的返回顶部按钮
.minirefresh-totop 
  bottom 80px !important


.search-ul-span b 
  font-weight inherit

.search-ul-span b.active 
  color #00c3b3